body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #6c2ba1;
    background-color: #030000;
}

/* Header and Footer Gradient Animation */
header, footer {
    background: linear-gradient(-45deg, #6c757d, #9b59b6, #6c757d, #9b59b6);
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite;
    color: #fff;
    text-align: center;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    padding: 4rem 0;
}

header h1 {
    margin: 0;
    font-size: 4rem;
}

header h2 {
    margin: 0;
    font-size: 4rem;
    color: aliceblue;
}


header p {
    margin: 0.5rem 0 0;
    font-size: 1.5rem;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    background: aliceblue;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1
}